:root {
    --main-bg-color: #740A00;
    --main-white: #FFFFFC;
    --main-black: #181B39;
}

body {
    background-color: var(--main-white);
    background-image: url("./タイトル画像.png");
    background-repeat: no-repeat;
    background-size: 980px;
}

.btn{
	background:gold;
    padding:0.7em 0.7em;
    border:var(--main-bg-color) 4px solid;
    text-decoration:none;
    color:black;
    font-size:2em;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    border-radius: 15px; /*角を丸くする*/
}

.btn:active{
    background: rgb(148, 125, 0);
}

.block{
    display:block;
    width:300px;
    margin:0 auto;
    position: relative;/*今の位置を基準に動く*/
    top: 800px;

}

.locat{
    background:var(--main-white);
    /*padding:30px;*/
    text-align:center;
    border:var(--main-bg-color) 7px solid;
    text-decoration:none;
    color:#740A00;
    font-size:4em;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    border-radius: 20px; /*角を丸くする*/
}

/*ユーザー名表示*/
.locat_name{
    color:#740A00;
    font-size:4em;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    /* border-radius: 20px; 角を丸くする */
    padding-top:750px;
}
.p_locat_name{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*正解数表示*/
.p_prob{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding-top:30px;
}
.prob_ans{
    justify-content: center;
    color:#740A00;
    font-size:2em;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    /* border-radius: 20px; 角を丸くする */
}

/*あなたの称号は？ボタン*/;

.button_area{
    display: flex;
    justify-content: center;
}
.btn_class{
    justify-content: center;
	background:gold;
    padding:0.7em 0.7em;
    border:var(--main-bg-color) 4px solid;
    text-decoration:none;
    color:black;
    font-size:2em;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    border-radius: 15px; /*角を丸くする*/
    text-align: center;
    top:30px;
}
.btn_class:active{
    background: rgb(148, 125, 0);
}
.block_class{
    display:block;
    width:300px;
    margin:0 auto;
    position: relative;/*今の位置を基準に動く*/
}

.result{
    display:block;
    width:500px;
    margin:0 auto;
    position: relative;/*今の位置を基準に動く*/
    top: 500px;
}

/*画面によってcssを切り替える*/
@media screen and (max-width:480px) {
 
	/*　画面サイズが480px以下の場合ここの記述が適用される　*/
    main {
		width: 100%;
	}
 
}